<div class="archive">
  <% var lastyear; %>
  <% page.posts.each(function(post){ %>
  <% var year = post.date.year() %>
  <% if(lastyear !== year){ %>
  <h2 class="year"> <i class="fa fa-book fa-book-icon" aria-hidden="true"></i><%= year %></h2>
  <% lastyear = year %>
  <% } %>
  <div class="archive_item">
    <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
    &nbsp;&nbsp;
    <span class="date"><%= post.date.format('YYYY-MM-DD') %></span>
  </div>
  <% }) %>
 
</div>